{% extends 'package/snippets/resource_view.html' %}

{% block scripts %}
    {{ super() }}
{% endblock %}


{% block resource_view %}
<div>
    
</div>

    <div style="display: flex;justify-content: space-evenly;align-items: baseline;">
        <h2>Dataset: {{ package.name }}</h2>
        <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Click to open the configuration"
            href="{{h.url_for('terriajs.config', resource_view_id=resource_view.id, _external=True) }}" target="_blank">
            {{_('Open configuration')}}
        </a>
    </div>
    <div style="display:block; width: auto; height: auto;">
        <iframe style="display: block;width: 100%; height: 100%; min-height: 94vh;" src="{{config_view.terriajs_url}}?clean&{{h.url_for('terriajs.config_enabled', resource_view_id=resource_view.id, _external=True)}}" allowFullScreen mozAllowFullScreen webkitAllowFullScreen/>    
    </div>
{% endblock %}

{# <iframe id="terriajs-iframe" src="{{config_view.terriajs_url}}?clean" style="height: 600px; width: 100%; border: none;" allowFullScreen mozAllowFullScreen webkitAllowFullScreen/>#}

